<section class="p-8">
  <form
    fxLayout="column"
    fxLayoutGap="10px"
    fxLayoutAlign="center center"
    [formGroup]="loginForm"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        name="email"
        formControlName="email"
        placeholder="Email"
      />
      <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 character">
      <input
        type="password"
        matInput
        name="password"
        formControlName="password"
        placeholder="Password"
      />
      <mat-hint align="end">{{loginForm.value?.password?.length }} /6</mat-hint>
      <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()">Submit</button>
  </form>
</section>
