<section class="p-8" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card class="flex justify-center items-center text-center gap-8" fxFlex.xs="90%" fxFlex="400px">
      <mat-card-title>Time to start a workout</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-select placeholder="Choose Exercises" ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises " [value]="exercise.id">
              {{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Start</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>

