<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <p>Sidebar</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <button (click)="sidenav.toggle()">Show Sidebar</button> -->
    <mat-toolbar color="primary">
      <div>
        <button (click)="sidenav.toggle()">Toggle</button>
      </div>
      <div>Logo</div>
      <div>
        <a routerLink="/auth/signup">Sign Up</a>
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/training/new-training">Training</a>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>


